# Data prepcocessing example

Data preprocessing is the most important stage in whole data life cycle.
If you're working with data you know that's very rare that we're getting clean and well structured data 'first-hand'.
In this article i'm going to show you how to preprocess data using pandas.
I'm going to use dataset which contains flat rent offers scraped from one of the polish website for one particular town which is Poznań.
So here's the dataset:

In [1]:
import pandas as pd
import numpy as np
df = pd.read_parquet('data.parquet')

In [2]:
df

,fees,number_of_rooms,year_built,number_of_floors_in_the_building,number_of_parking_spaces,floor,area_in_m2,location
0,800 zł,2,2006,4,1,parter,76 m2,"\n Poznań, ..."
1,420 zł,2,2019,10,1,9,46 m2,"\n Poznań, ..."
2,2 900 zł,2,2005,5,1,5,48 m2,"\n Poznań, ..."
3,None,2,2000,2,40,2,50 m2,"\n Poznań, ..."
4,150 zł,3,1975,4,None,1,48 m2,"\n Poznań, ..."
...,...,...,...,...,...,...,...,...
294,None,2,1955,1,None,parter,55 m2,"\n Poznań, ..."
295,None,2,None,3,None,parter,50 m2,"\n Poznań, ..."
296,None,2,2000,3,None,3,46 m2,"\n Poznań, ..."
297,300 zł,2,2016,1,1,parter,58 m2,"\n Poznań, ..."
298,None,4,None,5,None,1,110 m2,"\n Poznań, ..."

My approach when I'm facing problem like this is using unique method on pandas series and simply printing and examining unique values in every column just by glance.
We can achieve this using this code:

In [3]:
for column in df.columns:
    print(column)
    print(df[column].unique())
    print()

fees
['800 zł' '420 zł' '2 900 zł' None '150 zł' '650 zł' '550 zł' '440 zł'
 '1 000 zł' '750 zł' '100 zł' '453 zł' '470 zł' '400 zł' '360 zł' '700 zł'
 '3 300 zł' '500 zł' '300 zł' '1 600 zł' '490 zł' '900 zł' '570 zł'
 '2 000 560 zł' '1 800 zł' '555 zł']

number_of_rooms
['2' '3' '1' '4' None '5' '6']

year_built
['2006' '2019' '2005' '2000' '1975' None '2011' '2020' '2016' '1980'
 '2001' '2008' '2021' '2010' '2017' '2015' '1978' '2013' '2014' '1970'
 '1905' '2022' '1995' '1900' '2018' '2002' '2004' '1965' '2007' '1948'
 '2003' '1985' '1973' '1906' '1910' '2009' '1940' '1994' '1936' '1990'
 '1991' '1875' '1920' '1960' '1950' '1998' '1903' '1915' '1933' '2012'
 '1955']

number_of_floors_in_the_building
['4' '10' '5' '2' '3' '6' '9' '1' '14' None '15' '7' '11' '8' '16'
 '0 (parter)' '12' '20' '13' '22']

number_of_parking_spaces
['1' '40' None '3' '2' '30' '60']

floor
['parter' '9' '5' '2' '1' '6' '3' '4' '13' '10' '8' 'low parter' None '7'
 '11' '16' '14']

area_in_m2
['76 m2' '46 m2' '48 m2' '50 m2' '60 m2' '38 m2' '53 m2' '55 m2' '40 m2'
 '59 m2' '85 m2' '75 m2' '47,80 m2' '49,10 m2' '41 m2' '43,60 m2'
 '34,10 m2' '65 m2' '43,58 m2' '47 m2' '45 m2' '62 m2' '30 m2' '35 m2'
 '93 m2' '47,42 m2' '63 m2' '36 m2' '42,20 m2' '52 m2' '54 m2' '64 m2'
 '80 m2' '30,05 m2' '44 m2' '53,75 m2' '64,90 m2' '62,70 m2' '65,50 m2'
 '44,84 m2' '10 m2' '72 m2' '46,60 m2' '61 m2' '32 m2' '21 m2' '49,50 m2'
 '27 m2' '31 m2' '49 m2' '24 m2' '57 m2' '48,40 m2' '67 m2' '70 m2'
 '56,07 m2' '38,10 m2' '86 m2' '36,90 m2' '100 m2' '48,77 m2' '68,14 m2'
 '84 m2' '32,39 m2' '32,33 m2' '39,60 m2' '43 m2' '28,52 m2' '47,50 m2'
 '43,70 m2' '146,34 m2' '60,50 m2' '52,70 m2' '50,50 m2' '89,30 m2'
 '57,92 m2' '68,59 m2' '52,38 m2' '56,10 m2' '42 m2' '88 m2' '103 m2'
 '15 m2' '120 m2' '34 m2' '58 m2' '37 m2' '42,40 m2' '45,22 m2' '63,70 m2'
 '71 m2' '63,10 m2' '69 m2' '49,90 m2' '51 m2' '47,20 m2' '76,57 m2'
 '75,27 m2' '41,89 m2' '94 m2' '68,60 m2' '115,90 m2' '44,48 m2'
 '46,50 m2' '47,29 m2' '83 m2' '45,41 m2' '80,61 m2' '66,44 m2' '35,53 m2'
 '89 m2' '39 m2' '140 m2' '112 m2' '42,74 m2' '39,84 m2' '96 m2'
 '52,47 m2' '33 m2' '41,64 m2' '81 m2' '78 m2' '18 m2' '200,30 m2'
 '105 m2' '73 m2' '54,56 m2' '26 m2' '66 m2' '60,20 m2' '47,62 m2' '13 m2'
 '20 m2' '42,60 m2' '36,60 m2' '43,54 m2' '51,80 m2' '127,20 m2' '160 m2'
 '102,80 m2' '42,81 m2' '95 m2' '45,50 m2' '110 m2']

location
['\n                                Poznań,                                         Stare Miasto,                                         wielkopolskie '
 '\n                                Poznań,                                         wielkopolskie '
 '\n                                Poznań,                                         Grunwald,                                         wielkopolskie '
 '\n                                Poznań,                                         Naramowice,                                         wielkopolskie '
 '\n                                Poznań,                                         Grunwald Południe,                                         wielkopolskie '
 '\n                                Poznań,                                         Piątkowo,                                         wielkopolskie '
 '\n                                Poznań,                                         Marcelin,                                         wielkopolskie '
 '\n                                Poznań,                                         Jeżyce,                                         wielkopolskie '
 '\n                                Poznań,                                         Górna Wilda,                                         wielkopolskie '
 '\n                                Poznań,                                         Wilda,                                         wielkopolskie '
 '\n                                Poznań,                                         Rataje,                                         wielkopolskie '
 '\n                                Poznań,                                         Stary Grunwald,                                         wielkopolskie '
 '\n                                Poznań,                                         Łazarz,                                         wielkopolskie '
 '\n                                Poznań,                                         Zawady,                                         wielkopolskie '
 '\n                                Poznań,                                         Górczyn,                                         wielkopolskie '
 '\n                                Poznań,                                         Junikowo,                                         wielkopolskie '
 '\n                                Poznań,                                         Centrum,                                         wielkopolskie '
 '\n                                Poznań,                                         Winogrady,                                         wielkopolskie '
 '\n                                Poznań,                                         Świerczewo,                                         wielkopolskie '
 '\n                                Poznań,                                         Śródka,                                         wielkopolskie '
 '\n                                Poznań,                                         Sołacz,                                         wielkopolskie '
 '\n                                Poznań,                                         Szczepankowo,                                         wielkopolskie '
 '\n                                Poznań,                                         Strzeszyn,                                         wielkopolskie '
 '\n                                Poznań,                                         Winiary,                                         wielkopolskie '
 '\n                                Poznań,                                         Podolany,                                         wielkopolskie '
 '\n                                Poznań,                                         Garbary,                                         wielkopolskie '
 '\n                                Poznań,                                         Starołęka,                                         wielkopolskie '
 '\n                                Poznań,                                         Ogrody,                                         wielkopolskie '
 '\n                                Poznań,                                         Nowe Miasto,                                         wielkopolskie '
 '\n                                Poznań,                                         Stare Winogrady,                                         wielkopolskie '
 '\n                                Poznań,                                         Chartowo,                                         wielkopolskie '
 '\n                                Poznań,                                         Antoninek,                                         wielkopolskie '
 '\n                                Poznań,                                         Warszawskie,                                         wielkopolskie '
 '\n                                Poznań,                                         Smochowice,                                         wielkopolskie '
 '\n                                Poznań,                                         Rynek Jeżycki,                                         wielkopolskie '
 '\n                                Poznań,                                         Główna,                                         wielkopolskie '
 '\n                                Poznań,                                         Umultowo,                                         wielkopolskie '
 '\n                                Poznań,                                         Grunwald Północ,                                         wielkopolskie '
 '\n                                Poznań,                                         Morasko,                                         wielkopolskie ']

Now i' m going to explain preprocessing steps for every column:

**fees**

We can create simple function which iterates over every element in string and joins only values which are numeric, if value is None (empty value) function will return [np.nan](https://numpy.org/doc/stable/reference/constants.html?highlight=nan#numpy.nan):

In [4]:
def get_numeric_values_from_string(s):
    if s is None:
        return np.nan
    else:
        return float(''.join([v for v in s if v.isnumeric()]))

Simple test:

In [5]:
def test_get_numeric_values_from_string():
    s = '800 zł'
    actual = get_numeric_values_from_string(s)
    expected = 800
    assert actual == expected

test_get_numeric_values_from_string()

finaly using map method in order to use function written above:

In [6]:
df.fees = df.fees.map(get_numeric_values_from_string)

**number_of_rooms, year_built and number_of_parking_spaces**


Let's look at data types before we do anything

In [7]:
df.dtypes

fees                                float64
number_of_rooms                      object
year_built                           object
number_of_floors_in_the_building     object
number_of_parking_spaces             object
floor                                object
area_in_m2                           object
location                             object
dtype: object

Columns number_of_rooms, year_built and number_of_parking_spaces should be numeric, why ?

lets look at unique values in this columns again

In [8]:
columns_to_check = ['number_of_rooms', 'year_built', 'number_of_parking_spaces']

for column_to_check in columns_to_check:
    print(column_to_check)
    print(df[column_to_check].unique())
    print()

number_of_rooms
['2' '3' '1' '4' None '5' '6']

year_built
['2006' '2019' '2005' '2000' '1975' None '2011' '2020' '2016' '1980'
 '2001' '2008' '2021' '2010' '2017' '2015' '1978' '2013' '2014' '1970'
 '1905' '2022' '1995' '1900' '2018' '2002' '2004' '1965' '2007' '1948'
 '2003' '1985' '1973' '1906' '1910' '2009' '1940' '1994' '1936' '1990'
 '1991' '1875' '1920' '1960' '1950' '1998' '1903' '1915' '1933' '2012'
 '1955']

number_of_parking_spaces
['1' '40' None '3' '2' '30' '60']

Let's create python dictionary where key will be name of the column we want to convert and the value will be datatype this column should be converted to

In [9]:
convert_dict = {
    'number_of_rooms': float, 
    'year_built': float, 
    'number_of_parking_spaces': float
}

df = df.astype(convert_dict)

So the data types now looks like that:

In [10]:
df.dtypes

fees                                float64
number_of_rooms                     float64
year_built                          float64
number_of_floors_in_the_building     object
number_of_parking_spaces            float64
floor                                object
area_in_m2                           object
location                             object
dtype: object

**number_of_floors_in_the_building and floor**

We need to replace some values in this two columns
In order to do so im going to create python dictionary which will be used as mapper, key from this dictionary is the value we want to replace and value of this key is new value we want to set. Here's the code:

In [11]:
mapper:dict = {
    '0 (parter)': 0
}
df.number_of_floors_in_the_building = df.number_of_floors_in_the_building.replace(mapper)

Same approach for floor column

In [12]:
mapper:dict = {
    'parter': 0,
    'low parter':0
}
df.floor = df.floor.replace(mapper)

Fast look at datatypes:

In [13]:
convert_dict = {
    'number_of_floors_in_the_building': float, 
    'floor': float, 
}

df = df.astype(convert_dict)

In [14]:
df.dtypes

fees                                float64
number_of_rooms                     float64
year_built                          float64
number_of_floors_in_the_building    float64
number_of_parking_spaces            float64
floor                               float64
area_in_m2                           object
location                             object
dtype: object

Fantastic! Let's go further

**area_in_m2**

My approach is to create new function

In [15]:
def convert_area_in_m2_to_numeric(s):
    return float(s.replace('m2', '').replace(',', '.').strip())

Then we can write simple test for this function

In [16]:
def test_convert_area_in_m2_to_numeric():
    s= '100,57 m2'
    actual= convert_area_in_m2_to_numeric(s)
    expected = 100.57
    assert actual == expected
    
test_convert_area_in_m2_to_numeric()

finally use map method in order to apply it on pandas serie

In [17]:
df.area_in_m2 = df.area_in_m2.map(convert_area_in_m2_to_numeric)

Of course we can use use vectorized string methods on pandas serie, and write it like

In [18]:
# df.area_in_m2 = df.area_in_m2.str.replace('m2', '').str.replace(',', '.').str.strip().astype('float')

But if we re going to use this for instance in ETL pipeline my recommendation is to define function, the biggest pros of writing a function is that we can test it, which is extremaly important !

**location**

Last column which should be preprocessed is location, again two approaches write function and test it and use vectorized function

first approach:

new function:

In [19]:
def get_location(s):
    return ' '.join(s.strip().split())

test:

In [20]:
def test_get_location() -> None:
    s = '''

    Poznań,       Stare Miasto,    wielkopolskie
    
    '''
    actual = get_location(s)
    expected = 'Poznań, Stare Miasto, wielkopolskie'
    assert actual == expected
    
test_get_location()

use map method for pandas serie:

In [21]:
df.location = df.location.map(get_location)

second approach (not recommended by me but also valid):

In [22]:
# df.location = df.location.str.strip().str.split().apply(lambda x: ' '.join(x))

Let's use unique method in order to see locations:

In [23]:
df.location.unique()

array(['Poznań, Stare Miasto, wielkopolskie', 'Poznań, wielkopolskie',
       'Poznań, Grunwald, wielkopolskie',
       'Poznań, Naramowice, wielkopolskie',
       'Poznań, Grunwald Południe, wielkopolskie',
       'Poznań, Piątkowo, wielkopolskie',
       'Poznań, Marcelin, wielkopolskie', 'Poznań, Jeżyce, wielkopolskie',
       'Poznań, Górna Wilda, wielkopolskie',
       'Poznań, Wilda, wielkopolskie', 'Poznań, Rataje, wielkopolskie',
       'Poznań, Stary Grunwald, wielkopolskie',
       'Poznań, Łazarz, wielkopolskie', 'Poznań, Zawady, wielkopolskie',
       'Poznań, Górczyn, wielkopolskie',
       'Poznań, Junikowo, wielkopolskie',
       'Poznań, Centrum, wielkopolskie',
       'Poznań, Winogrady, wielkopolskie',
       'Poznań, Świerczewo, wielkopolskie',
       'Poznań, Śródka, wielkopolskie', 'Poznań, Sołacz, wielkopolskie',
       'Poznań, Szczepankowo, wielkopolskie',
       'Poznań, Strzeszyn, wielkopolskie',
       'Poznań, Winiary, wielkopolskie',
       'Poznań, Podolany, wielkopolskie',
       'Poznań, Garbary, wielkopolskie',
       'Poznań, Starołęka, wielkopolskie',
       'Poznań, Ogrody, wielkopolskie',
       'Poznań, Nowe Miasto, wielkopolskie',
       'Poznań, Stare Winogrady, wielkopolskie',
       'Poznań, Chartowo, wielkopolskie',
       'Poznań, Antoninek, wielkopolskie',
       'Poznań, Warszawskie, wielkopolskie',
       'Poznań, Smochowice, wielkopolskie',
       'Poznań, Rynek Jeżycki, wielkopolskie',
       'Poznań, Główna, wielkopolskie', 'Poznań, Umultowo, wielkopolskie',
       'Poznań, Grunwald Północ, wielkopolskie',
       'Poznań, Morasko, wielkopolskie'], dtype=object)

One of the values - Poznań, wielkopolskie doesn't give any information - we know that we re dealing with flats from Poznań, wielkopolskie is name voivodeship. Let's replace it with [np.nan](https://numpy.org/doc/stable/reference/constants.html?highlight=nan#numpy.nan)

In [24]:
df.location = df.location.replace({'Poznań, wielkopolskie': np.nan})

Last thing we want to do is to extract district from location, we can do it easily by picking second element (first index) at splited location, to do so let's define new function

In [25]:
def get_district(s):
    if s is np.nan:
        return np.nan
    else:
        splited:list = s.split(', ')
        return splited[1]

Of course **test it**

In [26]:
def test_get_district():
    s = 'Poznań, Stare Miasto, wielkopolskie'
    actual = get_district(s)
    expected = 'Stare Miasto'
    assert actual == expected
    
test_get_district()

And use it

In [27]:
df['district'] = df.location.map(get_district)

Hurray!

Preprocessing has been finished and final datset looks great, let's look:

In [28]:
df

,fees,number_of_rooms,year_built,number_of_floors_in_the_building,number_of_parking_spaces,floor,area_in_m2,location,district
0,800.0,2.0,2006.0,4.0,1.0,0.0,76.0,"Poznań, Stare Miasto, wielkopolskie",Stare Miasto
1,420.0,2.0,2019.0,10.0,1.0,9.0,46.0,NaN,NaN
2,2900.0,2.0,2005.0,5.0,1.0,5.0,48.0,"Poznań, Grunwald, wielkopolskie",Grunwald
3,NaN,2.0,2000.0,2.0,40.0,2.0,50.0,"Poznań, Naramowice, wielkopolskie",Naramowice
4,150.0,3.0,1975.0,4.0,NaN,1.0,48.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...
294,NaN,2.0,1955.0,1.0,NaN,0.0,55.0,"Poznań, Grunwald, wielkopolskie",Grunwald
295,NaN,2.0,NaN,3.0,NaN,0.0,50.0,"Poznań, Centrum, wielkopolskie",Centrum
296,NaN,2.0,2000.0,3.0,NaN,3.0,46.0,"Poznań, Stare Miasto, wielkopolskie",Stare Miasto
297,300.0,2.0,2016.0,1.0,1.0,0.0,58.0,"Poznań, Morasko, wielkopolskie",Morasko
298,NaN,4.0,NaN,5.0,NaN,1.0,110.0,"Poznań, Centrum, wielkopolskie",Centrum

Now further use cases for this dataset are almost **unlimited**, examples:

* building machine learning model
* store in data warehouse and use it for BI
* data visualizations